.board{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  align-items: center;
}

.sqr-corner1{
  border-top-left-radius: 7px;
}

.sqr-corner2{
  border-top-right-radius: 7px;
}

.sqr-corner3{
  border-bottom-right-radius: 7px;
}

.sqr-corner4{
  border-bottom-left-radius: 7px;
}

.sqrw , .sqrb {
  aspect-ratio: 1/1;
  position: relative;
}

.sqrw{
  background-color: rgb(232, 220, 195);
  transition-duration: 0.15s;
}

.sqrw:hover{
  background-color: rgba(232, 220, 195, 0.8);
}

.sqrb{
  background-color: rgb(190, 150, 103);
  transition-duration: 0.15s;
}

.sqrb:hover{
  background-color: rgba(190, 150, 103, 0.8);
}

.js-sqrw-legal{
  background-color: rgb(123, 222, 155);
}

.js-sqrb-legal{
  background-color: rgb(20, 164, 65);
}

.js-sqrw-clicked{
  background-color: rgb(236, 117, 117);
}

.js-sqrb-clicked{
  background-color: rgb(190, 81, 81);
}

.text-a1,.text-b1,.text-c1,.text-d1,.text-e1,.text-f1,.text-h1 {
  position: absolute;
  bottom: -1px;
  left: 2px;
  font-size: 80%;
  font-weight: 600;
}

.text-g1 {
  position: absolute;
  bottom: 1px;
  left: 2px;
  font-size: 80%;
  font-weight: 600;
}

.text-h2,.text-h3,.text-h4,.text-h5,.text-h6,.text-h7,.text-h8 {
  position: absolute;
  top: -11px;
  right: 2px;
  font-size: 80%;
  font-weight: 600;
}

.text-h1n {
  position: absolute;
  top: 1px;
  right: 2px;
  font-size: 80%;
  font-weight: 600;
}