body{
  color: rgb(35, 35, 35);
  font-family: Arial;
  background-color: rgb(35, 35, 35);
}

.board-container{
  width: 80vmin;
  height: 80vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.moveColor-reminder-container{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moveColor-reminder{
  font-size: 5vmin;
  font-weight: 600;
  text-align: center;
  background-color: rgb(190, 150, 103);
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0px;
  width: 80vmin;
  border-radius: 7px;
}

.moveColor-reminder-w{
  color: white;
}

.moveColor-reminder-b{
  color: black;
}