body{
  color: rgb(35, 35, 35);
  font-family: Arial;
  background-color: rgb(35, 35, 35);
}

.board-container{
  width: 85vmin;
  height: 85vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.turn-reminder-container{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.turn-reminder{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  background-color: rgb(190, 150, 103);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  width: 500px;
}

.turn-reminder-w{
  color: white;
}

.turn-reminder-b{
  color: black;
}